<h1>Acadameics</h1>
<img src="../../assets/ac_slide01.jpg" alt=""  srcset="">
<h2>RU Educational System</h2>

<div class="c2">
    <a href="http://en.ritsumei.ac.jp/academics/system/"><img src="../../assets/academics-e_01.png" class="rounded" alt="Cinque Terre" style="width: 1100px;"></a>
    
</div>  

<div class="container p-3 my-3 border">
    <h2>Undergraduate School</h2>
    <p>Includes English-based Degree Programs</p>
 
  </div>

  <h2 style="color: brown;">Colleges at Kinugasa Campus</h2>
  
  <div class="row">
    <div class="column">
        <a href="http://localhost:4200/admissions/law"><img src="../../assets/academics-e_02.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Law</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/admissions/social"><img src="../../assets/academics-e_03.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Social Science</p>

    </div>

   

    <div class="column">
        <a href="http://localhost:4200/admissions/letters"><img src="../../assets/academics-e_06.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Letters</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/admissions/arts"><img src="../../assets/academics-e_07.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Arts and Science</p>

    </div>
  
  </div>
  
  <h2 style="color: rgb(71, 17, 4);">Colleges at Biwako-Kusatsu Campus</h2>

  <div class="row">
    <div class="column">
        <a href="http://localhost:4200/admissions/economics"><img src="../../assets/academics-e_08.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Economics</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/admissions/sport"><img src="../../assets/academics-e_09.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Sport and Health Science</p>

    </div>

    <div class="column">
        <a href="http://localhost:4200/admissions/science"><img src="../../assets/academics-e_10.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Science and Engneering</p>

    </div>

    
  
    <div class="column">
        <a href="http://localhost:4200/admissions/life"><img src="../../assets/academics-e_12.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College of Life Sciences</p>

    </div>

    <div class="column">
        <a href="http://localhost:4200/admissions/pharma/"><img src="../../assets/academics-e_14.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College of Pharmaceutical Sciences</p>

    </div>

    <div class="column">
        <a href="http://localhost:4200/admissions/gastro"><img src="../../assets/academics-e_38.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College of Gastronomy Management</p>

    </div>
  
  </div>

 
  <h2>Colleges at Osaka Ibaraki Campus</h2>
  <div class="row">
    <div class="column">
        <a href="http://localhost:4200/admissions/business"><img src="../../assets/academics-e_15.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Bussiness Administration</p>

    </div>
  
  

    <div class="column">
        <a href="http://localhost:4200/admissions/psycology"><img src="../../assets/aca_oic_psy.jpg" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">College Of Comprehensive Pyschology</p>

    </div>
  </div>
<h1>Graduate School</h1>

<h2>Graduate Schools at Kinugasa Campus</h2>

<div class="row">
    <div class="column">
        <a href="http://localhost:4200/admissions/law"><img src="../../assets/academics-e_02.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">Graduate School Of Law</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/admissions/social"><img src="../../assets/academics-e_03.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">Graduate School Of Social Science</p>

    </div>

   

    <div class="column">
        <a href="http://localhost:4200/admissions/letters"><img src="../../assets/academics-e_06.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">Graduate School Of Letters</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/admissions/arts"><img src="../../assets/academics-e_07.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">Graduate School Of Arts and Science</p>

    </div>

    
    </div>

    <h2>Graduate School at Osaka Ibaraki Campus </h2>

    <div class="row">
        <div class="column">
            <a href="http://localhost:4200/admissions/business"><img src="../../assets/academics-e_15.png" alt="abc" style="width: 400px;" ></a>
            
            <p style="color: brown;">Graduate School Of Bussiness Administration</p>
    
        </div>
      
      
        <div class="column">
            <a href="http://localhost:4200/admissions/psycology"><img src="../../assets/aca_oic_psy.jpg" alt="abc" style="width: 400px;" ></a>
            
            <p style="color: brown;">Graduate School Of Comprehensive Pyschology</p>
    
        </div>


      </div>

      <h2>Graduate Schools at Suzaku Campus</h2>
      <div class="row">
        <div class="column">
            <a href="http://localhost:4200/admissions/public"><img src="../../assets/academics-e_35.png" alt="abc" style="width: 400px;" ></a>
            
            <p style="color: brown;">Graduate School Of Bussiness Public Policy</p>
    
        </div>
      
      
        <div class="column">
            <a href="http://localhost:4200/admissions/school"><img src="../../assets/academics-e_36.png" alt="abc" style="width: 400px;" ></a>
            
            <p style="color: brown;">Graduate School Of Law</p>
    
        </div>

        <div class="column">
            <a href="http://localhost:4200/admissions/teacher"><img src="../../assets/academics-e_37.png" alt="abc" style="width: 400px;" ></a>
            
            <p style="color: brown;">Graduate School Of Professional Teacher Education</p>
    
        </div>
      </div>      

      



