<!-- Bootstrap layout demo-->
<div class="container-fluid" height="1000px" style="background-color:whitesmoke;">
  <!--First row - header -->
  <div class="row">
    <div class="col-sm-12" style="height: 200px; text-align: center;">
     
      <app-header>
        
      </app-header>
    </div>
    
  </div>
  <!-- Slide Bar-->
  <div class="row">
    <div class="col-sm-1 art1">
    
    </div>
    <!-- Content section - article -->
    <div class="col-sm-8 art2">
      <router-outlet> 
    
      </router-outlet>
    </div>
  </div>
  
  <!-- Footer -->
  <div class="row">
    <div class="col-sm-12" style="height: 300px; text-align: center; background-color: rgb(7, 3, 24);">
    <app-footer>
      
    </app-footer>
    </div>
  </div>
  </div>