<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<button class="apply" onclick="openCity(event, 'apply')"><a routerLink="apply">Application Form</a></button>
<router-outlet> 
    
</router-outlet>

<h1 style="color: brown;">Ritsumeikan University Contact List (Direct Number)</h1>

<p>
    
    Undergraduate and graduate students of Ritsumeikan University are prohibited from entering all campuses
     to prevent the spread of infection of the Novel Coronavirus (COVID-19). During this period, Ritsumeikan Primary School, Ritsumeikan Junior and Senior High School, Ritsumeikan Uji Junior and Senior High School, and Ritsumeikan Moriyama Junior and Senior High School are also closed.
    As a rule, faculty and staff work from home or remain at home. We apologize for the inconvenience 
    this may cause to our students and their guardians, and we kindly request your understanding.
</p>

<p>
    
If you want to make an inquiry, please see the following contacts. Please note that it may take a while for response.
</p>

<div class="container p-3 my-3 bg-dark text-white ">
<h2>Administrative Office/ Manabi Station</h2>
</div>
<table>
    <tr>
        <td>Administrative Office, College of Law (Kinugasa)</td>
        <td>075-465-8175</td>
        <td>law@st.ritsumei.ac.jp</td>
    </tr>

<tr>
    <td>Administrative Office, College of Social Sciences (Kinugasa)</td>
    <td>075-465-8185</td>
    <td>sanshajm@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td>Administrative Office, College of International Relations (Kinugasa)</td>
    <td>	075-465-1211</td>
    <td>irpost01@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td>Administrative Office, College of Letters (Kinugasa)</td>
    <td>	075-465-8187</td>
    <td>letters@st.ritsumei.ac.jp</td>
</tr>


<tr>
    <td>Administrative Office, College of Image Arts and Sciences (Kinugasa)</td>
    <td>075-465-1990</td>
    <td>	ritseizo@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td>Administrative Office, College of Information Science and Engineering (BKC)</td>
    <td>	077-561-5202</td>
    <td>	ise26@st.ritsumei.ac.jp</td>
</tr>


<tr>
    <td>Administrative Office, College of Life Sciences (BKC)</td>
    <td>	077-561-5021</td>
    <td>	seimeisk@st.ritsumei.ac.jp</td>
</tr>


<tr>
    <td>Administrative Office, College of Pharmaceutical Sciences (BKC)</td>
    <td>077-561-2563</td>
    <td>	pharm1@st.ritsumei.ac.jp</td>
</tr>


<tr>
    <td>Administrative Office, College of Sport and Health Science (BKC)</td>
    <td>	077-561-3760</td>
    <td>	spoken1@st.ritsumei.ac.jp</td>
</tr>


<tr>
    <td>Administrative Office, College of Gastronomy Management (BKC)</td>
    <td>	077-561-4801</td>
    <td>	cgs001@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td>Administrative Office, College of Policy Science (OIC)</td>
    <td>	072-665-2080</td>
    <td>	rits-ps@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td>Administrative Office, College of Comprehensive Psychology (OIC)</td>
    <td>	072-665-2190</td>
    <td>sinri04@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td>Graduate School of Public Policy</td>
    <td>	075-813-8274</td>
    <td>	koumu@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td>Kinugasa Manabi Station</td>
    <td>075-465-7865
        075-465-7877 (Issuing certificate counter)</td>
        <td>k-manabi@st.ritsumei.ac.jp</td>
</tr>

<tr>
    <td> Scholarships, Grants and various programs</td>
    <td>	075-465-8195</td>
    <td>	d-cp＠st.ritsumei.ac.jp</td>
</tr>
</table>


<div class="container p-3 my-3 bg-dark text-white ">
    <h2>Tuition</h2>
    </div>

    <table>
        <tr>
            <td>Inquiries about admission fee:
                <p>International Admissions Office</p></td>
                <td>hello@st.ritsumei.ac.jp</td>
               
        </tr>

        <tr>
            <td>Inquiries about tuition of current students:
                <p>Office of Finance and Accounting (Suzaku)</p></td>
                <td>075-813-8164</td>
                <td>d-cp＠st.ritsumei.ac.jp</td>
        </tr>

    </table>

    <div class="container p-3 my-3 bg-dark text-white ">
        <h2>Scholarship</h2>
        </div>
    
        <table>
            <tr>
                <td>Office of Student Affairs (Kinugasa)</td>
                    <td>075-465-8168</td>
                    <td>scholar＠st.ritsumei.ac.jp</td>
            </tr>
    
            <tr>
                <td>Office of Student Affairs (BKC)</td>
                    <td>075-813-8164</td>
                    <td>office＠st.ritsumei.ac.jp</td>
            </tr>

            <tr>
                <td>
                    Office of Student Affairs (OIC)
                </td>
                <td>072-665-2135</td>
                <td>office＠st.ritsumei.ac.jp</td>
            </tr>
    
        </table>

        <div class="container p-3 my-3 bg-dark text-white ">
            <h2>Health Care</h2>
            </div>
        
            <table>
                <tr>
                    <td>
                        Ritsumeikan Medical Service Center (Kinugasa)</td>
                        <td>075-465-6789</td>
                        <td>m-sc＠st.ritsumei.ac.jp</td>
                </tr>
        
                <tr>
                    <td>Ritsumeikan Medical Service Center (BKC)</td>
                        <td>075-813-9164</td>
                        <td>m-sc＠st.ritsumei.ac.jp</td>
                </tr>
    
                <tr>
                    <td>
                        Ritsumeikan Medical Service Center (OIC)
                    </td>
                    <td>072-665-2635</td>
                    <td>m-sc＠st.ritsumei.ac.jp</td>
                </tr>
        
            </table>



            