
<div class="row">
    <div class="column">
        <h2 style="color: azure;">Links</h2>
       <p> <button class="admissions" onclick="openCity(event, 'admissions')"><a routerLink="admissions">Admissions & Aid</a></button>
       </p>
       <p>  <button class="outreach" onclick="openCity(event, 'outreach')"><a routerLink="outreach">International Outreach</a></button></p>
        <p><button class="contact" onclick="openCity(event, 'contact')"><a routerLink="contact">Contact</a></button></p>
        <p>  <button class="research" onclick="openCity(event, 'research')"><a routerLink="research">Research</a></button>
        </p>
    </div>
    <div class="column">
        <h2 style="color: azure;">About Us</h2>
        <p style="color: azure;">The Ritsumeikan Academy is one of the private comprehensive educational institutions in Japan
             with rich history and tradition, and we celebrated the 150th anniversary of the founding of 
             the Ritsumeikan private school and the 120th year of the establishment of the Academy in 2020. The Academy has now become a comprehensive educational institution with two universities, four high schools, four junior high schools and one primary school.</p>

    </div>
    <div class="column">

   <h2 style="color: azure;"> Contact Us </h2>
   <p style="color: azure;">
    Ritsumeikan University
    
</p>
<p style="color: azure;">
    
    Kinugasa
   
</p>
<p style="color: azure;">
   
    Kyoto, Japan
  
</p>
<p style="color: azure;">
    
    Phone - 	075-465-8175
  
</p>
<p style="color: azure;">
   
    Email- ise26@st.ritsumei.ac.jp
</p>
    </div>
  </div>