
<img src="../../assets/site_logo.png" alt="" srcset="">
<div class="tab">
    <button class="home" onclick="openCity(event, 'home')" ><a routerLink="home">Home</a></button>
    <button class="acadamics" onclick="openCity(event, 'acadamics')"><a routerLink="acadamics">Acadamics</a></button>

    <button class="research" onclick="openCity(event, 'research')"><a routerLink="research">Research</a></button>
    <button class="admissions" onclick="openCity(event, 'admissions')"><a routerLink="admissions">Admissions & Aid</a></button>
    <button class="outreach" onclick="openCity(event, 'outreach')"><a routerLink="outreach">International Outreach</a></button>
    <button class="contact" onclick="openCity(event, 'contact')"><a routerLink="contact">Contact</a></button>
    <button class="visitors" onclick="openCity(event, 'visitors')"><a routerLink="visitors">Visitors & Partners</a></button>
    

  </div>