
<img src="../../assets/top_mv_182.jpg" alt=""  srcset="">

  
  
 

<h2 style="background-color:rgb(172, 30, 12);"><p><a href="http://en.ritsumei.ac.jp/news/detail/?id=475" id=link style="color:white;" >Collated Links and Information related to the Novel Corona Virus(COVID 19)</a></p>
   <p> <a href="http://http://en.ritsumei.ac.jp/news/detail/?id=595" style="color: white;">A Message to Parents from the President</a></p>
   <p><a href="https://http://en.ritsumei.ac.jp/news/president-message/" style="color: white;">President Message：Our vision for AY2021 – Creating a campus environment where students feel connected</a></p>
</h2>

<div class="img-container"> <!-- Block parent element -->
    <img src="../../assets/top_tit01_x2.png" alt="John Doe">
  </div>
<div class="img-2">
    <img src="../../assets/210526-1000-1.jpg" alt="" srcset="">
</div>
  
<div class="txt">
<h2 style="background-color:rgb(172, 30, 12);">
    <p style="color: whitesmoke;">Topic 1</p>
    <a href="https://www.rsjprwjp.com/" id=link style="color:white;" >2021 Summer Programs</a> 
       <p style="color: whitesmoke; ">RSXP is a program for students who have never studied the Japanese Language before.</p>
      <p style="color: whitesmoke;">Do you want to read Japanese MANGA more? You w…</p></h2>
</div>

<div class="img-3">
    <img src="../../assets/210427-0920-1.jpg"  height="500px" width="1000px" alt="" srcset="">
</div>

<div class="txt1">
<h2 style="background-color:rgb(172, 30, 12) ;">
    <p style="color: whitesmoke;">Topic 2</p>
    <p style="color: whitesmoke;">College of Pharmaceutical Sciences Offers Online Exchange Program with the Toronto Hospital for Sic…</p> 
</h2>
</div>




<div class="img5">
    <img src="../../assets/top_tit05_x2.png" alt="" srcset="">
</div>



<div class="row">
    <div class="column">
        <a href="http://localhost:4200/research"><img src="../../assets/img_why01.png" alt="abc" style="width: 400px;" ></a>
        
        <p style="color: brown;">The Global Centre of Exellence Program</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/visitors"><img src="../../assets/img_why11.png" alt="abc" style="width: 400px;" ></a>
        <p style="color: brown;">Looking to the Future Now</p>

    </div>

    <div class="column">
        <a href="http://localhost:4200/acadamics"><img src="../../assets/img_why02.png" alt="abc" style="width: 400px;" ></a>
        <p style="color: brown;">Education</p>

    </div>

    <div class="column">
        <a href="http://en.ritsumei.ac.jp/lifecareer/club-activities/"><img src="../../assets/img_why03.png" alt="abc" style="width: 400px;" ></a>
        <p style="color: brown;">Club Activities</p>

    </div>    

    <div class="column">
        <a href="http://localhost:4200/outreach"><img src="../../assets/img_why04.png" alt="abc" style="width: 400px;" ></a>
        <p style="color: brown;">Global Connections</p>

    </div>   

    <div class="column">
        <a href="http://localhost:4200/research/history"><img src="../../assets/img_why05.png" alt="abc" style="width: 400px;" ></a>
        <p style="color: brown;">Ritsumekan History</p>

    </div>  

    

  </div>