<button class="overseas" onclick="openCity(event, 'overseas')"><a routerLink="overseas">Overseas Offices</a></button>
<button class="progress" onclick="openCity(event, 'progress')"><a routerLink="progress">Ritsumeikan University's Progress toward Internationalization</a></button>
<router-outlet> 
    
</router-outlet>

<H1>International Outreach</H1>
<div class="img">
<img src="../../assets/in_slide01.jpg" alt="" srcset="" style="width: 800px;">
</div>


<div class="row">
    <h1>Global Connections</h1>
    <div class="column">
        <a href="http://localhost:4200/outreach/overseas"><img src="../../assets/download.jfif" alt="abc" style="width: 400px;height: 250px;" ></a>
        
        <p style="color: brown;">Overseas Offices</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/visitors"><img src="../../assets/international-e_03.png" alt="abc" style="width: 400px;height: 250px;" ></a>
        
        <p style="color: brown;">Outbound Programs</p>

    </div>
  
    <div class="column">
        <a href="http://localhost:4200/outreach/progress"><img src="../../assets/international-e_05.png" alt="abc" style="width: 400px;height: 250px;" ></a>
        
        <p style="color: brown;">Ritsumeikan University's Progress toward Internationalization</p>

    </div>

    
  </div>      

  