
<button class="office" onclick="openCity(event, 'office')"><a routerLink="office">About Research Office</a></button>
<button class="midplan" onclick="openCity(event, 'midplan')"><a routerLink="midplan">Research Enhancement Mid-Term Plan</a></button>
<button class="project" onclick="openCity(event, 'project')"><a routerLink="project">Big Government Projects</a></button>
<button class="history" onclick="openCity(event, 'history')"><a routerLink="history">History Overview</a></button>
<router-outlet>
    
</router-outlet>


<img src="../../assets/re_slide01.jpg" alt="">

<div class="column">
    <a href="http://localhost:4200/research/project"><img src="../../assets/research_tit04_x2.png" alt="abc" style="width: 700px;" ></a>
    
    <p style="color: brown;">Big Government Projects</p>

</div>