<button class="club" onclick="openCity(event, 'club')"><a routerLink="club">Club Activities</a></button>
<router-outlet> 
    
</router-outlet>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h1>Visitors & Partners</h1>
<div class="img">
<img src="../../assets/img_slide01.png" alt="" srcset="" style="width: 900px;">
</div>
<div class="container p-3 my-3 bg-dark text-white">

    <h1>Outbound Programs</h1>
 </div>

 <p>
    More than 1,700 Ritsumeikan University students during the 2016 Academic Year are taking part in study
     abroad programs, which include, but are not limited to, the following:
 </p>

 <table>
     <tr>
         <th>Program</th>
         <th>Duration</th>
         <th>Number of Participants	</th>
         <th>Description</th>
     </tr>

     <tr>
         <td>Global Fieldwork Project</td>
         <td>One week</td>
         <td>2 universities 30 students to each</td>
         <td>This is a new type of experience-based initiation program. Students are divided into groups
              and conduct fieldwork such as culture, history, or sightseeing surveys in accordance with 
              a theme decided by each group for a week at their destination location. This program offers
               various types of assistance. Students are accompanied by a faculty member and there is a buddy 
               system with local students during the study abroad period, making it possible for students to
                concentrate on their studies. Further, in order for students to enrich their fieldwork experiences,
                 a study camp is held before and after studying abroad.</td>
     </tr>

     <tr>
         <td>Ritsumeikan-Showa Boston University "Culture and Society Research" Program</td>
         <td>Four weeks (Summer)</td>
         <td>50 students</td>
         <td>This initiation program is designed for students with an interest in the social and cultural
              aspects of Boston as well as the opportunity to live abroad and experience American culture
               as a whole. Students select and study either American culture or Business English in the
                afternoon. Japanese speaking staff are available to provide guidance and support to
                 students. This is a joint program with students from Showa Women's University.</td>
     </tr>

     <tr>
         <td>Intercultural Understanding Seminar</td>
         <td>Four weeks
            (Summer and Spring)</td>
            <td>18 courses/universities
                18 to 45 students for each course</td>
                <td>This initiation program offers participants an ideal opportunity to improve their 
                    practical language skills and broaden their global perspective. 18 courses are 
                    available at universities in English, Chinese, Korean, French, German, and Spanish 
                    speaking countries.</td>
     </tr>

     <tr>
         <td>Overseas Study Program</td>
         <td>Two weeks
            (Summer)
            Four weeks
            (Spring)</td>
            <td>2 courses
                15 to 20 students for each course</td>
         <td>The program focuses on practical learning in specialized fields that diverge from rigid 
             language learning and helps students put their on-campus learning into practice while 
             studying abroad. The program offers students opportunities to take specialized lectures 
             in English and go on field trips that facilitate connections between real life experience 
             and the content of each program.</td>       
     </tr>

     <tr>
         <td>Asian Community Leadership Seminar</td>
         <td>Three weeks (Summer)</td>
         <td>10 students</td>
         <td>This program is jointly operated by Kyung Hee University, Tamkang University, and Ritsumeikan 
             University, and consists of a three-week "mobility program", during which 30 students (10 from each 
             institution) stay together for a week at each university in August. The program also includes
              pre-departure/follow-up sessions. In the program, participants will discuss several social 
              issues within the East Asia region that need to be solved through cross-border collaborations 
              that go beyond the interests of any single nation, and propose possible solutions collectively
               with "Peace", "Asia", and "Future" as central concepts.</td>
     </tr>

     <tr>
         <td>Ritsumeikan-Macquarie University "Australia-Japan Relations" Program</td>
         <td>Seven weeks (Summer)</td>
         <td>30 students</td>
         <td>This program focuses on acquiring English language skills required for the advanced study abroad 
             programs and for study at overseas universities. With the theme of "Australia-Japan Relations", 
             the program centers on lectures by guest speakers in various fields, English lessons to help 
             students understand lectures given in English, and excursions offering opportunities to enjoy 
             Australian nature and wildlife.</td>

     </tr>

     <tr>
         <td>Ritsumeikan-University of Washington "Business Entrepreneurship for Sustainability" Program</td>
         <td>One semester
            (Spring)</td>
         <td>36 students</td>
         <td>In this program, students learn about "language, culture, and society" based on the theme 
             of "sustainability". During the first ten weeks, students will intensively study English 
             technical skills and introductory studies about sustainability in order to gain strong 
             foundational principles. For the remaining four weeks, students will deepen their 
             understanding of present society  from the point of view of sustainability through 
             corporate activities and business case studies.</td>

            
     </tr>

     <tr>
         <td>Ritsumeikan-University of California, Davis "Language, Culture, and Society in America" Program</td>
         <td>One semester
            (Summer and Spring)</td>
            <td>30 students</td>
            <td>Students will take 2 sessions of the IEP (Intensive English Program) provided by the 
                UCDE (University of California-Davis Extension). This program aims to improve students'
                 English skills through learning about various topics related to culture and society in 
                 America and raise their English proficiency to a level that is capable of taking regular
                  courses at university in an English-speaking country in the future.</td>
     </tr>

     <tr>
         <td>Ritsumeikan-University of York “English, Creativity and Academic Skills” Programme</td>
         <td>One semester
            (Summer)</td>
            <td>36 students</td>
            <td>The theme of this program is “Learning Creativity in the UK.” From the beginning to 
                the middle of the program, students focus on studying English for 10 weeks prior to 
                starting specialized learning regarding “creativity.” From the middle of the program,
                 in order to acquire the skill to generate creative ideas, students receive detailed
                  basic to advanced instruction from a faculty member of the University of York who has
                   excelled in the field of “creativity” research. At the end, students utilize the 
                   knowledge and capabilities cultivated during the program to engage in a task related
                    to their own interests.</td>
     </tr>

<tr>
    <td>Ritsumeikan-UBC Academic Immersion Program</td>
    <td>Around one academic year (August to April)</td>
    <td>75 students</td>
    <td>Jointly sponsored with a partner institution, the University of British Columbia (UBC) 
         Vancouver, this program intends to improve students academic and English skills and develop
          internationally minded individuals through a unique curriculum jointly developed by Ritsumeikan
           and UBC and by experiencing life in Canada.</td>
</tr>

<tr>
    <td>Ritsumeikan-Alberta University "North-American Language, Culture and Society" Program</td>
    <td>One academic year (August to April)</td>
    <td>15 students</td>
       <td>	This program offers participants learn several topics on culture and society in North America
            to enhance their English skills and participate in regular courses in the Visiting Students 
            Certificate Program provided by Alberta University</td>
</tr>


<tr>
    <td>Global PBL Program for Innovative Mind and Intelligence</td>
    <td>One semester (August to January)</td>
    <td>6 universities 2 to 5 students to each</td>
    <td>This is an educational program focusing on "international project/problem-based learning (PBL)"
         to develop global perspective and innovative mind to solve the numerous policy and social issues 
         facing ASEAN countries. This program looks to not only offer opportunities to study abroad in
          Thailand or Indonesia, but also provide an integrated program that includes pre-departure 
          preparation and post-completion studies.</td>
</tr>

<tr>
    <td>Exchange Programs</td>
    <td>One academic year</td>
    <td>120 universities One to five students to each</td>
    <td>Students study abroad for one year at one of RU's student exchange partner institutions 
        (120 universities and institutions in 28 countries and areas).</td>
</tr>


<tr>
    <td>Dual Undergraduate Degree Program (DUDP)</td>
    <td>Two years</td>
    <td>Three courses Several students to each</td>
    <td>In this program, while registered at Ritsumeikan University, students study in university in the
         United States or Canada for two years,
         and can obtain a degree in both universities in four years at minimum. We have programs with
          American University, whose School of International Studies is one of the highest ranked in its
           field in the United States., with Suffolk University which is only available to students in 
           the College of International Relations.</td>
</tr>














 </table>